body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
  text-align: center;
}
.products-section {
  max-width: 1200px;
  margin: 0 auto;
}
.product-item {
  display: flex;
  flex-direction: column;
  margin: 20px 0 10px 30px;
  list-style-type: none;
  background-color: lightyellow;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0,
  0, 0.1);
}
